.button {
    background-color: inherit;
    box-sizing: border-box;
    color: #4aacfb;
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.button.raised {
    background-color: #4aacfb;
    border-radius: 3px;
    color: #fff;
}
